<li class="list-group-item">
  <b>Customer ID: </b>{{customer.id}}<br>
  <b>Name: </b> {{customer.firstName}} {{customer.lastName}}<br> 
  <b>Age: </b> {{customer.age}}<br>
  <b>Address:</b> {{customer.address.street}} {{customer.address.number}}, {{customer.address.zipCode}} {{customer.address.city}}<br>
  <b>Accounts: </b>
  <div *ngFor='let account of customer.accountList' style="margin-left: 3%">
    <b>Iban: </b>{{account.iban.value}}, 
    <b>Type: </b>{{account.accountType}},
    <b>Balance: </b>${{account.balance.toFixed(2)}}
  </div>
  <b>Password: </b>{{customer.password}}
</li>
